  body {
                background-image: url("https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif");
                color: rgb(45, 45, 45);
                padding: 10px;
            }
            header {
                font-size: 1.5em;
                font-weight: bold;
                margin-bottom: 10px;
            }
            [id=all-contents] {
                max-width: 800px;
                margin: auto;
            }

            /* navigation menu */
            nav {
                margin: 0 auto;
                margin-bottom: 10px;
                display: flex;
                border-radius: 25px;
                background-color: #ffffff;
                border: 1px solid black;
                opacity: 0.6;
                filter: alpha(opacity=60); 
                padding: 10px;
            }
            nav header {
                display: flex;
                align-items: center;
                color: rgb(0, 0, 0);
                flex: 1;
            }
            nav ul {
                list-style-image: none;
            }
            nav li {
                display: inline-block;
                padding: 0 10px;
            }
            nav a {
                text-decoration: none;
                color: #000000;
            }

            /* main container area beneath menu */
            main {
                display: flex;
            }
            [class=sidebar] {
                margin-left: 25px;
                padding: 10px;
            }
            [class=sidebar] img {
                width: 200px;
            }
            [class=content] {
                flex: 1;
                padding: 5px;
                margin-right: 10px;
                margin-left: 10px;
                background-color: #ffffff;
                border: 1px solid black;
                opacity: 0.9;
                filter: alpha(opacity=60); 
                width: 400px;
                border-radius: 25px;
            }
            div.transbox p {
                margin: 5%;
                color: #000000;
            }
            [class=interests] header {
                font-size: 1.25em;
            }
            
.content h1, h2, h3, h4, h5, h6 {
    margin: 10px;
}

.content section > a {
    text-decoration: none;
}